/* ############################ CSS POUR LA NAVBAR ############################ */

.navbar-custom {
  background: linear-gradient(36deg, rgba(245,245,245,1) 30%, rgba(225,225,225,1) 40%);
}

.card {
  border: 1px solid #f0f0f0;
}

/* Menus accueil, cours et formules */
.navbar-custom .navbar-nav .nav-link, .card, body {
    color: #333; /* Couleur de texte plus sombre pour contraster avec le fond clair */
}

.nochange{
  color : black ;
}

.nochange:hover{
  color:black;
}
