/* ############################ CSS POUR LE BODY ############################ */

p {
  padding: 1.2em;
  width: 95%;
  text-align: justify;
}

body
{
  background: rgba(231, 229, 229, 0.733);
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}
