/* ############################ CSS POUR LE BODY ############################ */

p {
  padding: 1em;
  text-align: justify;
}

body
{
  background: rgba(231, 229, 229, 0.733);
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  margin:0;
}
