/* ############################ CSS POUR LA NAVBAR ############################ */

.navbar-custom{
  background: rgb(49, 49, 49);
}

.card {
  border: 1px solid #f0f0f0;
}

/* Menus accueil, cours et formules */
.navbar-custom .navbar-nav .nav-link, .card {
  color: #ffffff; /* Couleur de texte plus sombre pour contraster avec le fond clair */
  font-size: 16px; /* Taille de texte plus grande */
  margin-right: 20px; /* Espacement à droite */
  
}

.nochange{
  color : black ;
}

.nochange:hover{
  color:black;
}
